body {
    margin: 0px;
    padding: 0px;
    background: url("/static/img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    font-family: 'Lato', sans-serif;
}

#nav{
    width: 20%;
    float: left;
    }

#content{
    width:80%;
    float: right;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: 200;
    margin-top: 10px;
}

nav {
    /*float: none;*/
    /*clear: both;*/
    overflow: hidden;
    margin: 0px auto;
    padding:30px 0px 30px 0px;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    /*float: left;*/
}

nav li a {
    display: block;
    width: 210px;
    padding: 20px 0 20px 0;
    border-top: 5px solid;
    position: relative;
    background: #fff;
    z-index: 2;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #444;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li a:hover {
    border-top: 0px;
    color: #fff;
}

nav li:first-child a {
    border-top: 10px solid #3498db;
}

nav li:nth-child(2) a {
    border-top: 10px solid #ffd071;
}

nav li:nth-child(3) a {
    border-top: 10px solid #f0776c;
}

nav li:last-child a {
    border-top: 10px solid #1abc9c;
}

.first li a:after {
    top: 50%;
    height: 0px;
}

nav li a:after {
    content: "";
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
}

nav.first li a:hover:after {
    top: 0px;
    height: 100%;
}

nav li:first-child a:after {
    background: #3498db;
}

nav li:nth-child(2) a:after {
    background: #ffd071;
}

nav li:nth-child(3) a:after {
    background: #f0776c;
}

nav li:last-child a:after {
    background: #1abc9c;
}

nav li:first-child .active {
    background: #3498db;
    color: #ffffff;
}

nav li:nth-child(2) .active {
    background: #ffd071;
    color: #ffffff;
}

nav li:nth-child(3) .active {
    background: #f0776c;
    color: #ffffff;
}

nav li:last-child .active {
    background: #1abc9c;
    color: #ffffff;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
